<h1>Welcome to the main page!</h1>
<br />
<p>The passed parameters are located on the /results page.</p>
<a href="/results">Results</a>
<br /> <br />
<h4>Get Test:</h4>
<a href="http://localhost:4000/results?foo=bar&main=test&hi=there&you=gotdis">Get</a>
